*{
 
    box-sizing:border-box;
    font-family:"Archivo"
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
}



ul,ol{
    list-style:none;
    margin:0;
    padding:0
}
a{
    text-decoration:none !important;
}
.splide2 a{
    color:#040405 !important;
}
nav img{
    max-width:75px;
    max-height: 50px;
    cursor: pointer;
}
p,h1,h2,h3,h4,h5,h6{
    margin:0
}
body{
    font-family:"Archivo";
    background-color:#fff;
    overflow-x:hidden;
    display:table;
    table-layout: fixed;
    padding-top: 101px;
    height: 100%;
}
html{
    scroll-behavior:smooth;
    font-size:62.5%;
    height: 100%;
}

header{
    padding:0px 50px;
    background:#040405;
    backdrop-filter:blur(24px);
    -webkit-backdrop-filter:blur(24px);
    border-bottom:1px solid #1a1515;
    z-index:999;
    width:100%;
    position:fixed;
    top:0;
    left:0
}

header .grid-layout nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    height:100px;
    padding:0px 8px
}

header .grid-layout nav img{
    width:150px
}
header .grid-layout nav .nav-list{
    list-style:none;
    display:flex
}
header .grid-layout nav .nav-list li{
    margin-left:48px
}
@media screen and (max-width: 992px){
    header .grid-layout nav .nav-list li{
        margin-left:0px
    }
}
header .grid-layout nav .nav-list li a{
    color:#d8d8d8;
    position:relative;
    font-size:1.8rem
}
header .grid-layout nav .nav-list li a::after{
    content:"";
    position:absolute;
    width:100%;
    transform:scaleX(0);
    height:1px;
    bottom:-7px;
    left:0;
    background:linear-gradient(270deg, #ff3a5e 0%, #17161d 100%);
    transform-origin:bottom right;
    transition:transform 0.5s cubic-bezier(0.86, 0, 0.07, 1)
}
header .grid-layout nav .nav-list li a:hover::after{
    transform:scaleX(1);
    transform-origin:bottom left
}
header .grid-layout nav .nav-list li a:hover{
    color:#fff
}

footer{ 
    width: 100vw; 
    height: 64px; 
    display: flex; 
    align-items: center;
    border-top: 1px solid rgba(114, 114, 126, 0.2);
    background-color: #040405;
    padding: 16px 10px;
    text-align: center;
    }
    footer div.wrapper {
        width: 100%;
        text-align: center; /* Centraliza todo o conteúdo dentro do wrapper */
      }

  footer p{
    color:#d8d8d8;
    font-size:1.8rem
  }


 /* Centralize a imagem horizontal e verticalmente */
 .div-que-inicia-rotacao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px; /* Defina a altura desejada para o contêiner da imagem */
}

.section-que-inicia-rotacao {
    position: relative;
}








.span-esquerdo {
    display: flex;
}

/* Estilize a imagem para garantir que ela não ultrapasse o contêiner */
.img-game {
    max-width: 100%;
    max-height: 100%;
    display: block; /* Adicione essa linha para evitar espaços indesejados */
    margin: auto; /* Adicione essa linha para centralizar a imagem horizontalmente */

}

.terceira-div-rotacao {
    display: flex;
    justify-content: center;
    align-items: center;
}


#img-game{
    cursor: pointer;
    width: 100%;
    transition: left 0.5s ease-in-out;
}

#img-game-segunda{
   
  
    cursor: pointer;
    width: 100%;
   
   
    transition: left 0.5s ease-in-out;
}
html ::-webkit-scrollbar {
    width: 10px;
  }
  html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: rgba(114, 114, 126, 0.2);
  }
  html ::-webkit-scrollbar-track {
    background: #ededed;
  }


  .splide__slide{
    width: 100vw;
    height: 500px;
    padding-top: 0px;
  }
 
main{
    height: 100% !important;
    }

.classeA{
font-weight: 600; /* Espessura de fonte semibold */
font-size: 1.25rem; /* Tamanho de texto extra grande */
color: inherit; /* Cor inicial herdada */
font-size: x-large;
cursor:pointer;
position:relative;
}

.classeA::after{
    content:"";
    position:absolute;
    width:100%;
    transform:scaleX(0);
    height:1px;
    bottom:-7px;
    left:0;
    background:linear-gradient(270deg, #ff3a5e 0%, #17161d 100%);
    transform-origin:bottom right;
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.classeA:hover::after{
    transform:scaleX(1);
    transform-origin:bottom left;
}

#sectionAzinho{
    padding-left: 7rem;
    padding-top: 50px;
}

.imagenzinhas{
    cursor: pointer;
    width: 100%;
    transition: left 0.5s ease-in-out;
    height: 150px;
    border-radius: 10px;
}

 .splide2 .splide__slide {
    margin-right: 50px;
    padding-top: 10px;
   
 }

.splide2{
    padding-top: 30px;
    padding-left: 3rem;
    margin-bottom: 40px;

}

.aumentaTudo{
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out; 
    transform: scale(1);
    gap: 0.5rem;
    cursor:pointer;
}

.aumentaTudo:hover {
    transform: scale(1.1); 
}

.nome{
    font-size: 16px;
}

.preco{
    font-size: 16px;
}

